/* You can add global styles to this file, and also import other style files */
/* // gender:  this.fb.control({
    //   male: false,
    //   female: false,
    //   other: false,
    // }), */


    /* <!-- <label for="gender">gender</label>
          <select id="gender" formControlName="gender" style="margin-bottom: 10px;">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select> --> */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
