<div class="container">
    <div class="reset-pass-container">
        <h2>Reset Password</h2>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword" formControlName="oldPassword"
                    placeholder="Enter your old password">
                <small
                    *ngIf="resetPasswordForm.get('oldPassword').errors?.['required'] && resetPasswordForm.get('oldPassword').touched"
                    class="text-danger">Old Password is required.</small>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password:</label>
                <input type="password" id="newPassword" formControlName="newPassword"
                    placeholder="Enter your new password">
                <small
                    *ngIf="resetPasswordForm.get('newPassword').errors?.['required'] && resetPasswordForm.get('newPassword').touched"
                    class="text-danger">New Password is required.</small>
            </div>
            <span class="forget-password"><small><a href="/login" *ngIf="isReset">Go to login</a></small></span>
            <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
        </form>
    </div>
</div>